asgiref==3.8.1
distlib==0.3.8
Django==5.0.3
filelock==3.13.3
pillow==10.3.0
platformdirs==4.2.0
python-dotenv==1.0.1
setuptools==69.2.0
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
virtualenv==20.25.1
wheel==0.43.0
